# Sensitive files
.env
settings.json

# Database that shouldn't be transferred over
data/*

# Other folders and files
**/dist/
**/node_modules/
.vscode/
.git/
coverage/

# Unneeded to build
.gitignore
.prettierrc.json
docker-compose.yml
README.md
Dockerfile
