# By default, the following should already be true
shared-workspace-shrinkwrap = true
link-workspace-packages = true

# Publishing
publish-branch = "main"

# For setting variables more conveniently on Windows
shell-emulator = true

# Debugging
# loglevel = debug